<a href="/">Home</a>|<a href="/add-form">Add</a> | <a href="/display-table">Display</a> |
 <a href="/category/add">Category Add</a> | <a href="/category/display">Category Display</a>
 | <a href="/subcategory/add">SubCategory Add</a> | <a href="/subcategory/display">SubCategory Display</a>
