<html>
<body>
<%- include('../header'); -%>
    <form method="post">
        <h1>Add Record</h1>
        <table>
            <tr>
                <td>Name</td>
                <td> <input type="text" placeholder="Enter Category" name="category_name"></td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>